<div class ='row'>
  <div class='span1 well text-center'>
    <%= link_to "upvote", vote_post_path(post, vote: true), method: 'post' %>
    <br/>
    <%= "Total: " + post.total_votes.to_s %>
    <br/>
    <%= link_to "downvote", vote_post_path(post, vote: false), method: 'post' %>
    
    </div>

<div class="span8 well">
  <h4><%= link_to post.title, post.url, :target => :blank %>
    <%= link_to "edit", edit_post_path(post), {:class => 'btn btn-primary'} %>
    <%= link_to "comment", post_comments_path(post.id), {:class => 'btn btn-primary'} %>
  </h4>
  <p><%= post.description%></p>
</div></div>